/* General style */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Barlow Condensed", sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  background-color: #000000;
  min-height: 200vh;
}
a {
  color: #fff;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: linear-gradient(45deg, #2d31fa, #008e89, #573391, #ff5c8d);

  transition: 1s;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
}

nav ul li a {
  display: block;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  letter-spacing: 1px;
}

nav ul li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #fff;
  transition: 1s;
}
nav ul li a:hover::after {
  width: 100%;
}

nav.sticky {
  background: linear-gradient(-45deg, #2d31fa, #008e89, #573391, #ff5c8d);
  padding: 0;
}

nav.sticky ul li a {
  color: #000000;
}

nav.sticky ul li a::after {
  background-color: #000000;
}

nav.sticky .logo {
  color: #000000;
}

/* Title */
section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
section .container h1 {
  font-size: 5rem;
  line-height: 1.2;
  text-transform: capitalize;

  background: linear-gradient(45deg, #2d31fa, #008e89, #573391, #ff5c8d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
}
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

/* Mobile & Tablet */
@media (max-width: 700px) {
  nav .container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  nav ul li a {
    font-size: 0.9rem;
    padding: 0.3rem;
    margin: 0.3rem;
  }
  nav ul li a::after {
    margin-top: 5px;
  }
  section .container h1 {
    font-size: 3rem;
  }
}
